* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* 
1 lam viec tu ngoai vao trong
2 lam tu tren xuong duoi
3 tu tong quan den chi tiet 
*/

/* 
1. vi tri cua no
2. kich thuoc
3. mau sac
4. kieu dang (kieu chu, hinh tron vuong, ...)
*/
/* Common */
.clear {
  clear: both;
}

.mt {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: 33.333%;
}

.col-five {
  width: 20%;
}

.col-half {
  width: 50%;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.col-full {
  width: 100%;
}

.pull-right {
  float: right;
}

/* main */

#main {
}

#header {
  background-color: #000;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  position: fixed;
  display: flex;
  z-index: 1;
}

#nav,
.search-btn {
  display: inline-block;
}
#nav li {
  position: relative;
  display: inline-block;
}

#nav li a {
  color: #fff;
  line-height: 50px;
  padding: 0 25px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
}

#nav li:hover .subnav {
  display: block;
}

#nav li:hover a {
  background-color: #fff;
}

#nav .subnav {
  background-color: #fff;
  min-width: 180px;
  top: 100%;
  display: none;
  position: absolute;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.35);
}

#nav > li:hover > a,
#nav .subnav li:hover a {
  color: #000;
  background-color: rgb(238, 238, 238);
}

#nav,
.subnav {
  list-style-type: none;
}

#nav .subnav a {
  color: #000;
  min-height: 5px;
  line-height: 30px;
  padding: 0 15px;
}

#nav .subnav > li {
  display: block;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  padding: 0 18px;
  cursor: pointer;
}
/* slider  */
#slider {
  position: relative;
  margin-top: 50px;
  padding-top: 50%;
  background: url("/assets/img/slider/slider\ 3.jpg") top center / cover
    no-repeat;
}

#slider .text-content {
  color: #fff;
  bottom: 45px;
  left: 50%;
  text-align: center;
  position: absolute;
  transform: translateX(-50%);
}
#slider .text-heading {
  font-size: 24px;
  font-weight: 500;
}
#slider .text-descreption {
  font-size: 15px;
}
/* content section */
#content .content-section {
  width: 800px;
  padding: 65px 0 112px;
  margin-left: auto;
  margin-right: auto;
}
#content .section-heading {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 500;
  text-align: center;
}
#content .section-sub-heading {
  color: darkgray;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
  font-style: italic;
}

#content .about-text {
  margin-top: 15px;
  font-size: 15px;
  line-height: 1.4;
  text-align: justify;
}

#content .member-list {
  margin-top: 48px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  width: 155px;
  margin-top: 15px;
  border-radius: 10px;
}
/* tour  */
.tour-section {
  background-color: #000;
}

.tickets-list {
  background-color: #fff;
  margin-top: 40px;
}

.tickets-list li {
  color: #757575;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  padding: 11px 16px;
  list-style: none;
}

.tickets-list .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 16px;
  padding: 3px 4px;
}

.tickets-list .quantity {
  color: #fff;
  background-color: #000;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 24px;
  margin-top: -2px;
  float: right;
  text-align: center;
}
/* place */
.places-list {
  margin-top: 32px;
}

.place-img {
  width: 100%;
  display: block;
}

.place-img:hover {
  opacity: 0.6;
}

.place-body {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.place-heading {
  font-size: 15px;
  font-weight: 700;
}

.place-time {
  padding-top: 15px;
  opacity: 0.6;
}

.place-desc {
  margin-top: 15px;
}

.btn-s-full-width {
  color: #fff;
  background-color: #000;
  margin-top: 15px;
  padding: 11px 16px;
  text-decoration: none;
  display: inline-block;
  border: none;
}
.btn-s-full-width:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

/* buy ticket */
.modal {
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  max-width: calc(100% -32px);
  position: relative;
  animation: modalFadeIn ease 0.5s;
}

.modal-header {
  background-color: rgb(5, 146, 115);
  color: #fff;
  font-size: 30px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-icon {
  margin-right: 20px;
}

.modal-close {
  color: #fff;
  top: 0;
  right: 0;
  padding: 12px;
  position: absolute;
  cursor: pointer;
}

.modal-close:hover {
  color: #eed7d7;
  font-weight: bold;
}

.modal-body {
  padding: 15px;
}

.modal-lable {
  margin-bottom: 10px;
  font-size: 16px;
  display: block;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 20px;
}

#buy-tickets {
  color: #fff;
  background-color: rgb(5, 146, 115);
  padding: 18px;
  width: 100%;
  border: none;
  cursor: pointer;
}

#buy-tickets:hover {
  opacity: 0.8;
}

.modal-footer {
  padding: 15px;
  font-size: 15px;
  text-align: right;
}

.link-help {
  color: blue;
}

.open {
  display: flex;
}

@keyframes modalFadeIn {
  from {
    opacity: 0.5;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* contact form */

.contact-content {
  margin-top: 45px;
}

.contact-infor {
  font-size: 18px;
  line-height: 1.5;
}

.contact-infor i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.hello-band img {
  width: 100%;
}

/* footer section */
#footer {
  padding: 64px 16px;
  text-align: center;
}

.social-list a {
  color: #ccc;
  font-size: 24px;
  text-decoration: none;
}

.social-list a:hover {
  opacity: 0.5;
}

#footer .copyright{
  margin-top: 15px;
  color:#ccc ;
}

.copyright a {
  color: #ccc;
}
/* end footer */
