*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1 lam viec tu ngoai vao trong
2 lam tu tren xuong duoi
3 tu tong quan den chi tiet 
*/

/* 
1. vi tri cua no
2. kich thuoc
3. mau sac
4. kieu dang (kieu chu, hinh tron vuong, ...)
*/
#main{

}

#header{
    height: 50px;
    background-color: #000;
}
#nav li{
    display: inline-block;
}

#nav li a{
    display: inline-block;
    color: aliceblue;
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
    
}
#nav li:hover a{
    background-color: rgb(99, 96, 96);
}

#nav .subnav{
     
}

#slider{

}

#content{

}

#footer{

}

